<div class="container">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Tác giả</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; let i = index" style="align-items: center">
      <td>{{i+1}}</td>
      <td><a routerLink="detail-book/{{book.id}}">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td><a class="btn btn-primary"  role="button" style="margin-right: 10px" routerLink="edit-book/{{book.id}}"><mat-icon>edit</mat-icon></a></td>
      <td><button class="btn btn-warning"  (click)="openDialogDelete(book.id)" ><mat-icon>delete_outline</mat-icon></button></td>
    </tr>
    </tbody>
  </table>
</div>
